  <header>
    <h1>Express Blog</h1>
    <div class="burger-button">&#9776;</div>
    <nav class="menu">
      <ul>
        <% if(title !== 'Express Blog') { %>
        <a href="/"><li>Home</li></a>
        <% } %>
        <% if( currentUser === undefined) { %>
          <% if(title !== 'Sign Up') { %>
          <a href="/user/new"><li>Sign Up</li></a>
          <% } %>
          <% if(title !== 'Login') { %>
          <a href="/user/login"><li>Login</li></a>
          <% } %>
        <% } else { %>
          <a href="/user/logout"><li>Logout</li></a>
          <a href="/user/profile"><li>Profile</li></a>
        <% } %>
      </ul>
    </nav>
  </header>