<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>
  <main>
    <div class="form-container">
      <form id="submit-post" action="/post/new" method="post">
        <input type="text" name="title" placeholder="Post title">
        <textarea id="new-post-content" form="submit-post" name="description" cols="40" rows="5" placeholder="Post content here">
        </textarea>
        <input type="submit" value="Submit Post">
      </form>
    </div>
  </main>
  <% include ../partials/footer %>
</body>
</html>