body {
  background-color: #EFEFEF;
}

header {
  width: 100%;
  background-color: #FF3B3F;
  color: #A9A9A9;
  top: 0;
  font-family: helvetica;
  box-shadow: 0 1px 5px #222222;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  bottom: 0;
}

header h1 {
  margin: 0 0 0 10px;
  line-height: 80px;
  font-size: 60px;
  text-shadow: -1px 1px #EFEFEF;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0;
  position: relative;
  padding: 10px;
}

header nav ul a {
  color: #EFEFEF;
  text-decoration: none;
}

header nav ul a li:hover {
  background-color: #FF3B3F;
  border-left: 1px solid #22222;
  border-bottom: 1px solid #22222;
}

textarea {
  background-color: #EFEFEF;
  border: none;
}

textarea:focus {
  outline-width: 0;
}

input[type="submit"], button {
  cursor: pointer;
  cursor: hand;
}

.form-container {
  width: 500px;
  margin: 0 auto;
  background-color: #CAEBF2;
  padding: 10px;
  text-align: center;
  color: #A9A9A9;
  box-shadow: 0 1px 5px #222222;
}

.form-container input {
  width: 250px;
  margin: 5px auto 0px auto;
  display: block;
  border: none;
  background-color: #CAEBF2;
  border-bottom: 1px solid #A9A9A9;
}

.form-container input[name="title"] {
  width: 340px;
  margin-bottom: 5px;
}

.form-container input:focus {
  outline-width: 0;
}

.form-container input[type="submit"] {
  width: 100px;
  text-align: center;
  border: none;
  margin-top: 10px;
  padding: 5px;
  background-color: #A9A9A9;
  color: #EFEFEF;
  box-shadow: 0 1px 5px #222222;
}

.posts-container {
  width: 100%;
  margin-left: 10px;
}

.posts-container a {
  color: #222222;
}

.posts-container ul {
  padding: 0;
  list-style-type: none;
}

.homepage-post-title a {
  text-decoration: none;
}

.homepage-post-title a:hover {
  text-decoration: underline;
}

.homepage-post-info {
  font-size: 10px;
  color: #A9A9A9;
}

.homepage-post-info a {
  text-decoration: none;
  color: #A9A9A9;
}

.homepage-post-info a:hover {
  text-decoration: underline;
}

.post-info {
  background-color: #CAEBF2;
  margin: 0 5%;
  box-shadow: 0 1px 5px #222222;
}

.post-info h3 {
  margin: 5px 5px 0 5px ;
}

#post-author-info {
  margin: 0;
  font-size: 10px;
  background-color: #A9A9A9;
  color: #EFEFEF;
  width: 100%;
}

#post-author-info a {
  text-decoration: none;
  color: #EFEFEF;
}

#post-author-info a:hover {
  text-decoration: underline;
}

.post-info p {
  margin: 5px;
  display: block;
}

.user-info {
  width: 70%;
  margin: 0 auto;
  background-color: #CAEBF2;
  box-shadow: 0 1px 5px #222222;
}

.user-info img {
  margin: 10px;
  background-color: #EFEFEF;
  box-shadow: 0 1px 5px #222222;
  display: inline-block;
  vertical-align: top;
}

.user-info div {
  display: inline-block;
  vertical-align: top;
}

.user-info h2 {
  margin-bottom: 0;
}

.user-info div ul {
  padding: 0;
  list-style-type: none;
}

.user-info div ul li a {
  color: #222222;
  text-decoration: none;
}

.user-info div ul li a:hover {
  text-decoration: underline;
}

.user-info div ul li span {
  color: #A9A9A9;
  font-size: 10px;
}

.my-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0,0,0,0.4);
}

.my-modal-content {
  width: 500px;
  margin: 10% auto;
  background-color: #CAEBF2;
  padding: 10px;
  text-align: center;
  color: #A9A9A9;
  position: relative;
  box-shadow: 0 5px 10px #222222;
}

.my-modal-content form input {
  width: 250px;
  margin: 5px auto 0px auto;
  display: block;
  border: none;
  background-color: #CAEBF2;
  border-bottom: 1px solid #A9A9A9;
}

.my-modal-content form input[type="submit"] {
  width: 100px;
  text-align: center;
  border: none;
  margin-top: 10px;
  padding: 5px;
  background-color: #A9A9A9;
  color: #EFEFEF;
  box-shadow: 0 1px 5px #222222;
}

.edit-profile {
  width: 100px;
  text-align: center;
  border: none;
  margin-top: 10px;
  padding: 5px;
  background-color: #A9A9A9;
  color: #EFEFEF;
  box-shadow: 0 1px 5px #222222;
}

#close-modal {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
}

#close-modal:hover {
  color: #A9A9A9;
  cursor: pointer;
  cursor: hand;
  text-shadow: 0 1px #222222;
}

#join-date {
  color: #A9A9A9;
  margin: 0;
}

.post-title-content {
  width: 85%;
  display: inline-block;
  vertical-align: top;
}

.post-vote {
  width: 5em;
  display: inline-block;
  vertical-align: top;
}

.post-vote ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.up-vote, .down-vote {
  cursor: pointer;
  cursor: hand;
}

.up-vote input[type="submit"], .down-vote input[type="submit"] {
  background-color: #CAEBF2;
  border: 1px solid #222222;
}

.burger-button {
  margin-left: 10px;
  font-size: 35px;
  width: 1em;
  cursor: pointer;
  cursor: hand;
}

.burger-button:hover {
  text-shadow: -1px 1px #EFEFEF;
}

.post-vote ul li {
  text-align: center;
}

.menu {
  display: none;
  background-color: #A9A9A9;
}