<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>
  <main>
    <div class="user-info">
      <img src="/img/avatar.png" alt="default avatar">
    </div>
  </main>
  <% include ../partials/footer %>
</body>
</html>